<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Connection</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">New Connection</h2>
            <div class="row">
                <div class="col-md-6">
                   <form action="#" th:action="@{/addconnection}" th:object="${connection}" method="post">                
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="userA" class="col-form-label">User A</label>
                                <select class="form-control" id="userA" name="userA" th:field="${connection.userA}">
							        <option value="" selected="selected">Please select the name</option>
							        <option th:each="user : ${allUsers}"
							                th:value="${user.id}"
							                th:text="${user.name}"/>
							    </select>
							    <span th:if="${#fields.hasErrors('userA')}" th:errors="${connection.userA}" class="text-danger"></span>
                            </div>                            
                            <div class="form-group col-md-6">
                                <label for="userB" class="col-form-label">User B</label>
                                <select class="form-control" id="userB" name="userB" th:field="${connection.userB}">
							        <option value="" selected="selected">Please select the name</option>
							        <option th:each="user : ${allUsers}"
							                th:value="${user.id}"
							                th:text="${user.name}"/>
							    </select>
							    <span th:if="${#fields.hasErrors('userB')}" th:errors="${connection.userB}" class="text-danger"></span>
                            </div>                         
                        </div> 
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Add Connection">
                            </div>
                            <div class="col-md-6 mt-5">
                             	<p><a href="/returnindex" class="btn btn-primary">Cancel</a></p>                          
                            </div>
                        </div>  
                     </form>                      
                </div>
            </div>
        </div>
    </body>
</html>