<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>
    <body>
      <br>
        <div class="container">         	   
            <div class="row">
                <div th:switch="${users}" class="col-md-6">
                    <h2 th:case="null">No users yet!</h2>
                    <div th:case="*">
                        <h2 class="my-5">Users</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Delete</th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.name}"></td> 
                                    <td><a th:href="@{/deleteuser/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/newuser" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>                    
                </div>
                <div th:switch="${connections}" class="col-md-6">
                    <h2 th:case="null">No connections yet!</h2>
                    <div th:case="*">
                        <h2 class="my-5">Connections</h2>
                        <form action="#" th:action="@{/search}" th:object="${userToSearch}" method="post">                        
                        <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="name" th:field="*{name}" maxlength="20" placeholder="Search connections by name">
                                </div>  
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-primary" value="Search">
                                </div>  
                        </div> 
                        </form>   
                        <h4 class="my-5">Connections between User A and B</h4>   
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>User A</th> 
                                    <th>User B</th>  
                                    <th>Delete</th>                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="conn : ${connections}">
                                    <td th:text="${conn.userA.name}"></td>  
                                    <td th:text="${conn.userB.name}"></td>   
                                    <td><a th:href="@{/deleteconnection/{id}(id=${conn.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/newconnection" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>                    
                </div>
            </div>
        </div>
    </body>
</html>